@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display:wght@400;900&display=swap');
*{

  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
.app-container{
 
  text-align: center;
  padding: 20px;
  
  
}

.form-container {
  text-align: center;
  margin: 20px auto;
  width: 50%;

}
.form {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190621/ourmid/pngtree-movie-ticket-cinema-promotion-banner-image_189804.jpg");
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  width: 100%;
  
}
.form input,.form select,.form textarea {
  padding: 8px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  max-width: 500px;
  
}
.form label {
  font-weight: bold;
}
button {
  padding: 10px;
  font-size: 18px;
  color: white;
  background-color: blue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


